<!-- TEMPLATE NAV https://preview.keenthemes.com/ceres-html-free/ -->
<nav class="navbar" id="ftco-navbar">
    <div class="navbar-container">
       <span class="navbar-brand" href="index.html"> A Logo</span>
       <div class="navbar-items-container">
          <ul>
             <li [routerLinkActive]="'selected'"><span routerLink="/dashboard" class="nav-link">Home</span></li>
             <li [routerLinkActive]="'selected'"><span routerLink="/expenses" class="nav-link">Expenses</span></li>
             <li [routerLinkActive]="'selected'"><span routerLink="/portfolios" class="nav-link">Portfolios</span></li>
          </ul>
       </div>
    </div>
 </nav>