
@import '../../assets/scss/flexbox.scss';
  
.public-container {
    height: 100vh;
    @include flexbox;
    .image-container {
        width:60%;
        flex: 1 1 auto;
        background-size: center center;
        background-size: cover;
        background-image: url('../../assets/images/background.jpg');
    }

    .form-container {
        width: 40%;
        @include flexbox;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
        flex-direction: column;

        .form-field {
            width: 100%;
        }
    }
}
